@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html,body{
    margin:0px;
    padding:0px;
    font-family: 'Inconsolata', monospace;
    padding-bottom:1rem;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    min-width: 600px;
}

.container .box{
    height: 19rem;
    width: 20rem;
    padding: 1rem;
    background-color: rgb(181, 228, 240);    
    border-radius: 20px;
    box-shadow: 10px 10px 30px gray;
    transition: transform 700ms;
    cursor: pointer;
    margin-top: 4rem;
    z-index: 1;
}


.container .box:hover{
    transform: scale(1.1);
}

.one{
    background: url(./Num-Guess-Game.jpg);
}

.two{
    background: url(./Random-hex.jpg);
}



.desc{
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-top: 0px;
}

a{
    text-decoration: none;
}

.image{
    height: 15rem;
    background-size:100%;
    background-repeat: no-repeat;
}

.navbar{
    position: fixed;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0px;
    z-index: 2;
}

.navbar-nav{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    background: black;
    height: 3rem;
    margin-top: 0;
}


.navbar .navbar-nav .nav-items{
    list-style: none;
    margin-left: 10px;
    margin-right: 30px;
    text-align: center;
    padding: 10px;
}

.navbar .navbar-nav .nav-hover{
    transition: transform 500ms ease;
    opacity: 0.9;
}



.navbar .navbar-nav .nav-items:nth-child(2){
    margin-left: auto;
}

.navbar .navbar-nav .nav-hover:hover{
    transform: scale(1.1);
    opacity: 1;
}

.navbar .navbar-nav .nav-items a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

.navbar .navbar-nav .nav-items:first-child{
    text-transform: uppercase;
    font-size: x-large;
}